PORT=

DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST=
DB_PORT=

SECRET_KEYS=
JWT_KEY=
URL_EXCEL=
TALLY_WEBHOOK_SECRET=
TALLY_WEBHOOK_SIGNATURE_HEADER=tally-signature
TALLY_WEBHOOK_SIGNATURE_REQUIRED=false
WHATSAPP_DEFAULT_COUNTRY_CODE=62

WEB_ADMIN_URL=
WEB_APP_URL=
ORDER_STATUS_BASE_URL=https://iom-app.kirisame.jp.net/
API_UPLOAD_URL=

KEYCLOAK_ISSUER_URL=
KEYCLOAK_JWKS_URI=
KEYCLOAK_AUDIENCE=backend-api

SSO_APP_URL_WEB=
SSO_APP_URL_APLIKASI_BANKES=
SSO_APP_URL_APLIKASI_OTA=
SSO_APP_URL_APLIKASI_AKUNTING=
SSO_APP_URL_APLIKASI_SEKRETARIAT=
SSO_APP_URL_APLIKASI_ISSUMIT=
SSO_APP_URL_APLIKASI_OKI_MANAJEMEN_INFORMASI=

DEV_BYPASS_AUTH=false
