PORT=3000
NODE_ENV=production

DATABASE_URL=postgresql://postgres.<ref>:<password>@<host>:5432/postgres
DB_SSL=true

DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=postgres
DB_HOST=
DB_PORT=5432

SECRET_KEYS=<random-secret>
URL_EXCEL=

BASE_URL=https://iom-itb-api.vercel.app
WEB_APP_URL=https://iom-itb-app.vercel.app
WEB_ADMIN_URL=https://iom-itb-admin-nu.vercel.app
API_UPLOAD_URL=https://iom-itb-api.vercel.app

ANON_KEY=
SERVICE_ROLE_KEY=
